<!DOCTYPE html>
{% extends "layouts/layout.html" %}

<!-- Search for all the Hack: below for hack-a-thon and mini-lab requirements -->
<!-- need to adjust Templates to start -->

<!-- Hack: Build form to drive bit size dynamic updates
           use HTML Input Form in Frontend, ie toward top of Page
           send initial value and updated values to form via Python render_template -->
<!-- Hack: use 8 as default -->
{% set MAX = ((2 ** BITS) - 1) %}

<!-- Hack: Set bulbs and pass as variables via Python render_template
           add new images (ie PNGs) to project -->
<!-- use your PNGs as default -->
{% set imgBulbOn = "/static/assets/dogon.jfif" %}
{% set imgBulbOff = "/static/assets/dogoff.png" %}
{% set msgTurnOn = "Turn On" %}
{% set msgTurnOff = "Turn Off" %}

{% block meta %}
    <title>Binary page</title>
    <script>
        const BITS = '{{ BITS }}'; let max = '{{ MAX }}'; let MAX = parseInt(max, 10);
        // return string with current value of each bit
        function getBits() {
            let bitsR1 = "";
            for(let i = 0; i < BITS; i++) {
                bitsR1 = bitsR1 + document.getElementById('digitR1' + i).value;
            }
            let bitsR2 = "";
            for(let i = 0; i < BITS; i++) {
                bitsR2 = bitsR2 + document.getElementById('digitR2' + i).value;
            }
            return [bitsR1, bitsR2];
        }

        function Unsigned() {
            let bitsR1R2 = getBits();
            let bitsR1 = bitsR1R2[0];
            let bitsR2 = bitsR1R2[1];

            let numR1 = parseInt(bitsR1, 2)
            let numR2 = parseInt(bitsR2, 2)
            let result3 = numR1 + numR2
            document.getElementById('resultB').innerHTML = parseInt(result3, 10).toString(2);
            {#let resultB = parseInt(result3, 10).toString(2);#}
            {#document.getElementById('resultB').innerHTML = text;#}

        }
        function signedAddition () {
            let i;
            let bitsR1R2 = getBits();
            let bitsR1 = bitsR1R2[0];
            console.log(bitsR1)
            let bitsR2 = bitsR1R2[1];
            let num1 = 0;
            let num2 = 0;
            let output = 0;

            const firstBitOne = document.getElementById('digitR10');
            for (i = 1; i < 8; i++) {
                let element1 = document.getElementById('digitR1' + i);
                num1 += Math.pow(2, 7 - i) * parseInt(element1.value);
            }
            alert(num1);
            const firstBitTwo = document.getElementById('digitR20');
            for (i = 1; i < 8; i++) {
                let element2 = document.getElementById('digitR2' + i);
                num2 += Math.pow(2, 7 - i) * parseInt(element2.value);
            }
            if (firstBitOne.innerHTML === "1") {
                num1 = 0-num1;
            }

            if (firstBitTwo.innerHTML === "1") {
                num2 = 0-num2;
            }

            output = num1 + num2
            const resultA = output.toString();
            document.getElementById('resultA').innerHTML = resultA;

        }
    </script>
{% endblock %}

{% block content %}
    <h1 class="text-center">Binary Math with Conversions</h1>

    <div class="container">
        <div class="row justify-content-md-center">

            <div class="col-4">
                <table class="table">
                    <tr id="table">
                        <th>Unsigned Addition</th>
                        <th>Signed Addition</th>
                        <th>Sum</th>
                        <th>Signed Sum</th>
                    </tr>
                    <tr>
                        <td><button type="button" id="add" onclick="Unsigned()"> + </button></td>
                        <td><button type="button" id="s_add" onclick="signedAddition()"> + </button></td>
                        <!-- Hack: display ASCII printable character(s)  -->
                        <td id="resultB">?</td>
                        <td id="resultA">?</td>
                    </tr>
                </table>
            </div>

            <div class="col-12">
                <table class="table">
                    <tr>
                        {% for i in range(BITS) %}
                            <td><input type='number' id='digitR1{{i}}' Value="0" size="1" min="0" max="1"></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for i in range(BITS) %}
                            <td><input type='number' id='digitR2{{i}}' Value="0" size="1" min="0" max="1" ></td>
                        {% endfor %}
                    </tr>
{#                    <tr>#}
{#                        {% for i in range(BITS) %}#}
{#                            <td><input type='text' id='digitResult{{i}}' Value="0" size="1" readonly></td>#}
{#                        {% endfor %}#}
{#                    </tr>#}
                </table>
            </div>
        </div>
    </div>

{% endblock %}