<!DOCTYPE html>
{% extends "layouts/base.html" %}
<html lang="en">
<meta charset="UTF-8">
<title>Blue Prints</title>
<!- This is a replacement block for Body in base.html -->
{% block body %}
    <body style="background-color:lightseagreen;">
    <div class="w3-container w3-green w3-cell">
        <p>             Top Movies</p>
        <p>             Locations and times</p>
        <p>             Coupons</p>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}

</html>
