<!DOCTYPE html>
{% extends "layouts/base.html" %}
<html lang="en">
    <meta charset="UTF-8">
    <title>Greeting</title>
    <!- This is a replacement block for Body in base.html -->
    {% block body %}
        <div class="col-12">
            <p>Hello, {{nickname}}!</p>
        </div>
        <div class="col-12">
            <form action="/greet" id="greet" method="POST" >
                <label for="name">Type a greeting name?</label>
                <input name="name" id="name">
                <input type="submit" value="Greetings!">
            </form>
        </div>
        <img src="https://media.istockphoto.com/vectors/cute-vector-speech-bubble-icon-with-hello-greeting-vector-id1065465342?k=20&m=1065465342&s=612x612&w=0&h=a_7-9Psj3QIjJOH4XWWHCBJZ90K8ptnG-C4jVi2PmXQ=" alt="greet image" style="width:128px;height:128px;">
    {% endblock %}

    <!- This is turning off birds background from base.html -->
    {% block background %}
    {% endblock %}

</html>