<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Platform Identifier</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@600&display=swap" rel="stylesheet">

    <script>
        function platformpicks() {
            const platformlist = ["PC", "Playstation", "XBox", "Nintendo Switch", "Mobile"];
            const dropdownPick = document.getElementById("input1").value;


            if (dropdownPick === "0") {
                    document.getElementById("selection").innerHTML = platformlist[0]+", "+platformlist[1]+", "+platformlist[2]+", "+platformlist[3]+", "+platformlist[4];
                } else if (dropdownPick === "1") {
                    document.getElementById("selection").innerHTML = platformlist[0]+", "+platformlist[1]+", "+platformlist[2]+"One, "+platformlist[3]+", "+platformlist[4];
                } else if (dropdownPick === "2") {
                    document.getElementById("selection").innerHTML = platformlist[0];
                } else if (dropdownPick === "3") {
                    document.getElementById("selection").innerHTML = platformlist[0]+", "+platformlist[1]+", "+platformlist[2]+", "+platformlist[3]+", "+platformlist[4];
                } else if (dropdownPick === "4") {
                    document.getElementById("selection").innerHTML = platformlist[0]+", "+platformlist[1]+", "+platformlist[2]+", "+platformlist[3];
                } else if (dropdownPick === "5") {
                    document.getElementById("selection").innerHTML = platformlist[0]+", "+platformlist[1]+", "+platformlist[2];
                }
        }

        function companypicks() {
            const companylist = ["Riot Games", "Epic Games", "Rockstar Games", "Blizzard Entertainment", "Behaviour Interactive", "Nintendo", "Mojang"];
            const dropdownPick = document.getElementById("input2").value;


            if (dropdownPick === "0") {
                document.getElementById("conclusion").innerHTML = companylist[6];
            } else if (dropdownPick === "1") {
                document.getElementById("conclusion").innerHTML = companylist[1];
            } else if (dropdownPick === "2") {
                document.getElementById("conclusion").innerHTML = companylist[0];
            } else if (dropdownPick === "3") {
                document.getElementById("conclusion").innerHTML = companylist[4];
            } else if (dropdownPick === "4") {
                document.getElementById("conclusion").innerHTML = companylist[3];
            } else if (dropdownPick === "5") {
                document.getElementById("conclusion").innerHTML = companylist[2];
            }

        }

        function quizpicks() {
            const quizlist = ["Correct!", "Try Again..."];
            const dropdownPick = document.getElementById("input3").value;
            const dropdown2Pick = document.getElementById("input4").value;
            const dropdown3Pick = document.getElementById("input5").value;


            if (dropdownPick === "0" && dropdown2Pick === "3" && dropdown3Pick === "5") {
                document.getElementById("quizzical").innerHTML = quizlist[0];
            } else if (dropdownPick === "0" && dropdown2Pick === "4" && dropdown3Pick === "0") {
                document.getElementById("quizzical").innerHTML = quizlist[0];
            } else if (dropdownPick === "1" && dropdown2Pick === "2" && dropdown3Pick === "3") {
                document.getElementById("quizzical").innerHTML = quizlist[0];
            } else if (dropdownPick === "2" && dropdown2Pick === "5" && dropdown3Pick === "1") {
                document.getElementById("quizzical").innerHTML = quizlist[0];
            } else if (dropdownPick === "3" && dropdown2Pick === "0" && dropdown3Pick === "4") {
                document.getElementById("quizzical").innerHTML = quizlist[0];
            } else if (dropdownPick === "4" && dropdown2Pick === "1" && dropdown3Pick === "2") {
                document.getElementById("quizzical").innerHTML = quizlist[0];
            } else {
                document.getElementById("quizzical").innerHTML = quizlist[1];
            }

        }




        {#let gameYears {#}
        {#    Minecraft: 2011,#}
        {#    DeadByDaylight: 2016,#}
        {#    Valorant: 2020,#}
        {#    Overwatch: 2016,#}
        {#    GTAV: 2013,#}
        {#    Fortnite: 2017#}
        {#}#}
        {#for(let key in gameYears) {#}
        {#    console.log(key, "=", gameYears[key]);#}
        {#}#}



    </script>

</head>
<body>
<style>

    * {
        box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column2 {
        float: left;
        width:100%;
        padding: 10px;
        height: 800px;
    }
    /* Clear floats after the columns */

    .button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 23px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button1 {
        background-color: #4CAF50;
        width: 24%;
    }
    .button1:hover {
        box-shadow: 0 12px 16px 0 rgb(255,255,255), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    .button2 {background-color: #008CBA; width: 24%;}
    .button2:hover {
        box-shadow: 0 12px 16px 0 rgb(255,255,255), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    .button3 {background-color: #d30505; width: 24%;}
    .button3:hover {
        box-shadow: 0 12px 16px 0 rgb(255,255,255), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    .button4 {background-color: mediumpurple; width: 24%;}
    .button4:hover {
        box-shadow: 0 12px 16px 0 rgb(255,255,255), 0 17px 50px 0 rgba(0,0,0,0.19);
    }


    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .space {
        float: left;
        width: 33%;
        padding: 20px;
    }

    table {
    {#font-family: arial, sans-serif;#}
    {#border-collapse: collapse;#}
    {#width: 100%;#}
        margin-left: auto;
        margin-right: auto;
    }

    tr:nth-child(even) {
        background-color: indianred;
    }

    body{
        background-color: indianred;
        background-size: 100%
    }

</style>
<div class="row">
    <h1 style="text-align:center">Find Gaming Platforms AND Company Information!</h1>
    <table style= "width:100%">
        <tr>
            <form method="get" action="/designs">
                <button class="button button1">Home</button>
            </form>
        </tr>
        <tr>
            <form method="get" action="/ratings">
                <button class="button button2">Add Ratings</button>
            </form>
        </tr>
        <tr>
            <form method="get" action="/platforms">
                <button class="button button3">Platform/Company Info</button>
            </form>
        </tr>
        <tr>
            <form method="get" action="/gamefinder">
                <button class="button button4">Find Games For You</button>
            </form>
        </tr>
    </table>
    <div>

        <table>
            <tr>
                <th>Please input a video game</th>
            </tr>
            <tr>

                <td>
                    <select class="extra" id="input1">
                        <option value="0">Minecraft</option>
                        <option value="1">Fortnite</option>
                        <option value="2">Valorant</option>
                        <option value="3">Dead By Daylight</option>
                        <option value="4">Overwatch</option>
                        <option value="5">Grand Theft Auto V</option>
                    </select>

                    <button class="btn" onclick="platformpicks()">Generate possible platforms</button>

                </td>

            </tr>
            <tr>
                <td>
                    <p id="selection" class="answer"> </p>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Please input a video game</th>
            </tr>
            <tr>

                <td>
                    <select class="extra" id="input2">
                        <option value="0">Minecraft</option>
                        <option value="1">Fortnite</option>
                        <option value="2">Valorant</option>
                        <option value="3">Dead By Daylight</option>
                        <option value="4">Overwatch</option>
                        <option value="5">Grand Theft Auto V</option>
                    </select>

                    <button class="btn" onclick="companypicks()">Generate Company</button>

                </td>

            </tr>
            <tr>
                <td>
                    <p id="conclusion" class="answer"> </p>
                </td>
            </tr>
        </table>
        <div class="row">
            <div class="space">
                <form method="get" action="/riot">
                    <input type="image" name="Name of image button" src="http://assets.stickpng.com/images/6095211c53a8bf00040ff3a4.png" alt="text" style="width:50%">
                </form>
            </div>
            <div class="space">
                <form method="get" action="/epic">
                    <input type="image" name="Name of image button" src="https://cdn2.unrealengine.com/Epic+Games+Node%2FepicLogo_1920x1080-1920x1080-401b77ef30fa9e5aaadbdd99ad2ff27ceda27a6f.png" alt="text" style="width:125%">
                </form>
            </div>
            <div class="space">
                <form method="get" action="/mojang">
                    <input type="image" name="Name of image button" src="https://download.logo.wine/logo/Mojang/Mojang-Logo.wine.png" alt="text" style="width:100%">
                </form>
            </div>
        </div>

        <table>
            <tr>
                <th>Quiz! Match the year, game, and company</th>
            </tr>
            <tr>

                    <td>
                        <select class="extra" id="input3">
                            <option value="0">2016</option>
                            <option value="1">2020</option>
                            <option value="2">2013</option>
                            <option value="3">2011</option>
                            <option value="4">2017</option>
                        </select>
                        <select class="extra" id="input4">
                            <option value="0">Minecraft</option>
                            <option value="1">Fortnite</option>
                            <option value="2">Valorant</option>
                            <option value="3">Dead By Daylight</option>
                            <option value="4">Overwatch</option>
                            <option value="5">Grand Theft Auto V</option>
                        </select>
                        <select class="extra" id="input5">
                            <option value="0">Blizzard Entertainment</option>
                            <option value="1">Rockstar Games</option>
                            <option value="2">Epic Games</option>
                            <option value="3">Riot Games</option>
                            <option value="4">Mojang</option>
                            <option value="5">Behaviour Interactive</option>
                        </select>

                        <button class="btn" onclick="quizpicks()">Check your answers!</button>

                    </td>

            </tr>
            <tr>
                <td>
                    <p id="quizzical" class="answer"> </p>
                </td>
            </tr>
        </table>

    </div>
</div>
</body>
</html>